
/*Subjects*/
	.subjects{
		float: left;
		font-size: 21px;
		list-style: none;
		padding: 2%;
		text-decoration: none;
		box-sizing: content-box;
	}
	.subjects a{
		color: #fff;text-decoration: none;
	}
/*Every Subject Id*/
	
	#subject-1{background: linear-gradient(80deg,#4400ee,#5511ff);color: #fff;margin-left: 5%}
	#subject-2{background: #33bbbb;color: #fff}	
	#subject-3{background: linear-gradient(80deg,#009962,#11aa73);color: #fff}
    #subject-4{background: linear-gradient(80deg,#3355ff,#5577ff);color: #fff}
    #subject-5{background:#bdd355;color: #fff}
    #subject-6{background: #9ebbdd;color: #fff}
/*Every Subject:Hover*/
    .subjects:hover ul.items{ display: block; transition: 2s}
    #subject-1:hover{background: linear-gradient(80deg ,#2c82dd,#2d72ee);}
	#subject-2:hover{background: #33cccc;}
	#subject-3:hover{background: #44cc77;}
	#subject-4:hover{background: #5577ff;}
	#subject-5:hover{background: #ded366;}
	#subject-6:hover{background: #9eccee;}

	#subject-1 .activities:hover{background: linear-gradient(80deg,#4400ee,#5511ff);}
	#subject-2 .activities:hover{background: #33bbbb}
	#subject-3 .activities:hover{background: linear-gradient(80deg,#009962,#11aa73);}
	#subject-4 .activities:hover{background: linear-gradient(80deg,#3355ff,#5577ff);}
	#subject-5 .activities:hover{background:#bdd344}
	#subject-6 .activities:hover{background: #9ebbdd}

/*Media screen*/
@media screen and (max-width:1990px ){
	#subject-1{margin-left: 5%;}
}
@media screen and (max-width: 2050px){
	.subjects{ float: none; padding: 5% 20% 5% 5%;;margin: 0% 0% 1% 5%;width: 50%; font-size: 40px}
	.subjects:hover .activities{; padding-right: 200px}
	#subject-1{margin-left: 5%;}
}
@media screen and (max-width:1487px ){
	.subjects{width: 20% ;margin: 0% 0% 1% 5%;font-size: 30px}
}
@media screen and (max-width: 801px){
	.subjects{width: 80%;margin-bottom: 2%;min-height: 40px;padding: 2% 1% 2% 2%;font-size: 25px}
}